{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "next/core-web-vitals",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "rules": {
        "no-console": "warn"
    }
}
